<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue js</title>
    <link rel="stylesheet" href="./assets/styles.css">
</head>
<body>
    <div id="app">
        <div class="nav-bar"></div>
        <div class="cart">Cart({{cart}})</div>
        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <!-- <img v-bind:src="image" > -->
                    <img :src="image" > <!--shortend property-->
                </div>
                <div class="product-info">
                    <h1>{{title}}</h1>
                    <h1> {{product}} </h1>
                    <!-- <p v-if="inventory>10">In stock</p> -->
                    <p v-if="inStock">In stock</p>

                    <!-- <p v-show="inStock">In stock</p> -->
                    <!-- <p v-else-if="inventory<=10 && inventory>0">Almost sold out</p> -->
                    <p v-else :class="!inStock ? 'out-of-stock-img':'' " >Out of stock</p>
                    <!-- <p>{{discription}}</p>
                    <a :href="url">visit vue official page here</a> -->
                    <ul>
                        <li v-for="detail in details">{{detail}}</li>
                    </ul>
                    <div v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)" class="color-circle" :style="{backgroundColor:variant.color}"></div>
                    <button class="button" v-on:click="addToCart" :disabled="!inStock" :class="{disabledButton:!inStock}">Add to cart</button>
                    <button class="button" @click="decrement">Decrement</button>
                </div>
            </div>
        </div>        
        
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="./main.js"></script>

    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>