<template>
    <div id= 'home'>
        <h1>{{ message }}</h1>
        <button @click="hello('hello good morning')">call hello</button>
    </div>
</template>

<script>
export default {
    name: 'Home',
    props: {
        message: String
    },
    methods:{
        hello(data){
            return alert(data)
        }
    }
    
}
</script>